.smex-items
*~$
places
.recentf
.recentf~
ido.last
ido.last~
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
melpa-stable
archive-contents
*.elc
./games
./auto-save-list
./eshell
